<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/app.js"></script>
  </head>
  <body>
     <div class="main-content">
    {{>header}}
    <h2>About Me!</h2>
    <img class="portrait" src="img/man.jpg" alt="image" />
    </div>
    {{>footer}}
  </body>
</html>